div{
	border: 2px solid black;
	padding: 15px;
	width: 50%;
	margin: 0 auto;
	background: grey;

}

h2{text-align: center;
	margin: 0;


}
.name{
	width: 100%;
}
table{
	width: 50%;
	border: 1px solid black;
	margin: 0 auto;


}
table,th,td{
	border: 1px solid black;
	text-align: center;
	border-collapse: collapse;

}

th,td:hover{
	background: green;
}